* {
  padding: 0;
  margin: 0;
}
ul,li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #263238;

}
.header {
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
  height: 80px;
  padding: 15px;
  background-color: #ef5350;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ef5350;
  display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer button{
  width: 30%;
  padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin: 110px 0 60px 0;
}
.favorite-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin: 110px 0 60px 0;
}

.card {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 4px;
}
.modal__card {
    background-color: grey;
    color: black;
    padding: 10px;
    border-radius: 4px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.888);
    width: 100%;
    height: 100%;
    pointer-events: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
.modal{
  position: relative;
}
.btn-close__backdrop{
  margin-left: 50px;
}
.backdrop .card {
    width: 250px;
}

/* .is-hidden {
    opacity: 0;
    pointer-events: none;
} */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0000);
  clip-path: inset(50%);
  margin: -1px;
}
